<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bayue.live.deqingpu"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取电话状态，如号码等 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- WIFI状态及访问 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 视频、录音权限请求音频捕获权限 -->
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--地理位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:icon, android:theme"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <meta-data android:name="design_width" android:value="768">
        </meta-data>
        <meta-data android:name="design_height" android:value="1280">
        </meta-data>
        <activity android:name=".MainTabActivity" android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AddressActivity" android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTop"  android:windowSoftInputMode="stateHidden|adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".ui.address.AddAddressActivity" android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTop"  android:windowSoftInputMode="stateHidden|adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".ui.certification.CertificationActivity" android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTop"  android:windowSoftInputMode="stateHidden|adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".ui.merchant.MerchantDetailActivity" android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTop"  android:windowSoftInputMode="stateHidden|adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".ui.merchant.GoodsListActivity" android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTop"  android:windowSoftInputMode="stateHidden|adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".ui.merchant.MerchantGoodsDetailActivity" android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTop"  android:windowSoftInputMode="stateHidden|adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".ui.merchant.MerchantGoodsDetailOKHttpActivity" android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTop"  android:windowSoftInputMode="stateHidden|adjustPan" android:screenOrientation="portrait"/>

        <!--注册界面-->
        <activity android:name=".ui.denglu.ZhuCe"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--登陆界面-->
        <activity android:name=".ui.denglu.DengLu"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--找回界面-->
        <activity android:name=".ui.denglu.Zhaohuei"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--圈子界面-->
        <activity android:name=".ui.geren.QuanziActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--写日志界面-->
        <activity android:name=".ui.geren.XierizhiActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--日志好友可见界面-->
        <activity android:name=".ui.geren.KejianActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--相册界面-->
        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--买单界面-->
        <activity android:name=".ui.merchant.pay.PayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--确认支付界面-->
        <activity android:name=".ui.merchant.pay.ConfirmPayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--支付成功界面-->
        <activity android:name=".ui.merchant.pay.SuccessPayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--支付完成界面-->
        <activity android:name=".ui.merchant.pay.CompletePayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--评价界面-->
        <activity android:name=".ui.merchant.pay.EvaluationActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--购物车-->
        <activity android:name=".ui.geren.CartActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--确认购物车-->
        <activity android:name=".ui.geren.CartConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>


    </application>

</manifest>